## General
# data
data/RAP_annotation/*.mat
data/RAP_dataset.zip
data/RAP_dataset/*.png
data/RAP_dataset_hs/*.png
data/RAP_dataset_lb/*.png
data/RAP_dataset_ub/*.png

# feature
features/*.mat
features/CNN-v1.0-Descriptor/models/CaffeNet/*.caffemodel
features/CNN-v1.0-Descriptor/models/GoogleLeNet/*.caffemodel
features/CNN-v1.0-Descriptor/models/JSTL-DGD/*.caffemodel
features/CNN-v1.0-Descriptor/models/ResNet/*.caffemodel

# model 
*.caffemodel
*.solverstate
*.binaryproto

# pretrained models
person-attribute/pretrained/*.caffemodel
person-reid/pretrained/*.caffemodel

# person attribute
person-attribute/baseline-acn/results/*
!person-attribute/baseline-acn/results/CaffeNet/.gitsave
person-attribute/baseline-acn/logs/*
!person-attribute/baseline-acn/logs/CaffeNet/.gitsave
person-attribute/baseline-acn/lmdb/*
!person-attribute/baseline-acn/lmdb/.gitsave

person-attribute/baseline-deepmar/results/*
!person-attribute/baseline-deepmar/results/CaffeNet/.gitsave
!person-attribute/baseline-deepmar/results/ResNet50/.gitsave
person-attribute/baseline-deepmar/logs/*
!person-attribute/baseline-deepmar/logs/CaffeNet/.gitsave
!person-attribute/baseline-deepmar/logs/ResNet50/.gitsave
person-attribute/baseline-deepmar/lmdb/*
!person-attribute/baseline-deepmar/lmdb/.gitsave

person-attribute/baseline-deepmar-binary/prototxts/*/*
!person-attribute/baseline-deepmar-binary/prototxts/ACN/.gitsave
!person-attribute/baseline-deepmar-binary/prototxts/CaffeNet/.gitsave
person-attribute/baseline-deepmar-binary/logs/*
!person-attribute/baseline-deepmar-binary/logs/ACN/.gitsave
!person-attribute/baseline-deepmar-binary/logs/CaffeNet/.gitsave
person-attribute/baseline-deepmar-binary/results/*
!person-attribute/baseline-deepmar-binary/results/ACN/.gitsave
!person-attribute/baseline-deepmar-binary/results/CaffeNet/.gitsave
person-attribute/baseline-deepmar-binary/lmdb/*
!person-attribute/baseline-deepmar-binary/lmdb/.gitsave

person-attribute/baseline-deepmar-parts/lmdb/*
!person-attribute/baseline-deepmar-parts/lmdb/.gitsave
person-attribute/baseline-deepmar-parts/logs/*
!person-attribute/baseline-deepmar-parts/logs/CaffeNet/.gitsave
!person-attribute/baseline-deepmar-parts/logs/ResNet50/.gitsave
person-attribute/baseline-deepmar-parts/results/*
!person-attribute/baseline-deepmar-parts/results/CaffeNet/.gitsave
!person-attribute/baseline-deepmar-parts/results/ResNet50/.gitsave

person-attribute/baseline-search/ap_results/
person-attribute/baseline-search/data/
person-attribute/baseline-search/visualization/

person-attribute/baseline-svm/models/*.mat
person-attribute/baseline-svm/parts_rank_list/*.txt
person-attribute/baseline-svm/personbyperson_recognition_result/*.txt
person-attribute/baseline-svm/results/*.mat
person-attribute/baseline-svm/view_rank_list/*.txt

person-attribute/static/images-list/*.txt
person-attribute/static/images-list-binary/*.txt
person-attribute/static/images-list-parts/*.txt

# person re-id
person-reid/baseline-att/lmdb/*
person-reid/baseline-att/logs/*
!person-reid/baseline-att/logs/CaffeNet/.gitsave
!person-reid/baseline-att/logs/ResNet50/.gitsave
person-reid/baseline-att/results/*
!person-reid/baseline-att/results/CaffeNet/.gitsave
!person-reid/baseline-att/results/ResNet50/.gitsave
person-reid/baseline-att/temp_models/*
!person-reid/baseline-att/temp_models/CaffeNet/.gitsave
!person-reid/baseline-att/temp_models/ResNet50/.gitsave

person-reid/baseline-IDE/lmdb/*
person-reid/baseline-IDE/logs/*
!person-reid/baseline-IDE/logs/CaffeNet/.gitsave
!person-reid/baseline-IDE/logs/DenseNet121/.gitsave
!person-reid/baseline-IDE/logs/MSCAN_body/.gitsave
!person-reid/baseline-IDE/logs/MSCAN_part/.gitsave
!person-reid/baseline-IDE/logs/MSCAN_full/.gitsave
!person-reid/baseline-IDE/logs/ResNet50/.gitsave
!person-reid/baseline-IDE/logs/ResNet101/.gitsave
!person-reid/baseline-IDE/logs/ResNet152/.gitsave

person-reid/baseline-IDE-att/lmdb/*
person-reid/baseline-IDE-att/logs/*
!person-reid/baseline-IDE-att/logs/APR/.gitsave
!person-reid/baseline-IDE-att/logs/APR2/.gitsave
!person-reid/baseline-IDE-att/logs/CaffeNet/.gitsave
!person-reid/baseline-IDE-att/logs/ResNet50/.gitsave
person-reid/baseline-IDE-att/temp_models/*
!person-reid/baseline-IDE-att/temp_models/APR/.gitsave
!person-reid/baseline-IDE-att/temp_models/APR2/.gitsave
!person-reid/baseline-IDE-att/temp_models/CaffeNet/.gitsave
!person-reid/baseline-IDE-att/temp_models/ResNet50/.gitsave

person-reid/baseline-IDE-att-control/temp_models/*
!person-reid/baseline-IDE-att-control/temp_models/CaffeNet/.gitsave
!person-reid/baseline-IDE-att-control/temp_models/ResNet50/.gitsave
person-reid/baseline-IDE-att-control/logs/*
!person-reid/baseline-IDE-att-control/logs/CaffeNet/.gitsave
!person-reid/baseline-IDE-att-control/logs/ResNet50/.gitsave

person-reid/evaluation/features/*.mat
person-reid/evaluation/lmdb/*lmdb*
person-reid/evaluation/visualization/*.txt
person-reid/evaluation/visualization_control/*.txt
person-reid/evaluation/results/
!person-reid/evaluation/results/APR/.gitsave
!person-reid/evaluation/results/APR2/.gitsave
!person-reid/evaluation/results/CaffeNet/.gitsave
!person-reid/evaluation/results/DenseNet121/.gitsave
!person-reid/evaluation/results/HACNN/.gitsave
!person-reid/evaluation/results/MSCAN_body/.gitsave
!person-reid/evaluation/results/MSCAN_part/.gitsave
!person-reid/evaluation/results/MSCAN_full/.gitsave
!person-reid/evaluation/results/MuDeep/.gitsave
!person-reid/evaluation/results/ResNet101/.gitsave
!person-reid/evaluation/results/ResNet152/.gitsave
!person-reid/evaluation/results/ResNet50/.gitsave
!person-reid/evaluation/results/elf/.gitsave
!person-reid/evaluation/results/gog/.gitsave
!person-reid/evaluation/results/jstl/.gitsave
!person-reid/evaluation/results/lomo/.gitsave
!person-reid/evaluation/results/pcaelf/.gitsave
person-reid/evaluation/results_control/
!person-reid/evaluation/results_control/CaffeNet/.gitsave
!person-reid/evaluation/results_control/ResNet50/.gitsave

person-reid/evaluation/visualization/*
!person-reid/evaluation/visualization/CaffeNet/.gitsave
!person-reid/evaluation/visualization/ResNet50/.gitsave
person-reid/evaluation/visualization_control/*
!person-reid/evaluation/visualization_control/CaffeNet/.gitsave
!person-reid/evaluation/visualization_control/ResNet50/.gitsave

person-reid/static/classification/*.txt
person-reid/static/classification-0/*.txt
person-reid/static/classification-1/*.txt
person-reid/static/classification-control/*.txt


